    <div class="category-card">
      <div class="card-search_search">
          <div class="pictos-details">
            <div class="pictos-details-align">
              <%= image_tag ("address.png") %>
              <p><%=project.street_and_nr%></p>
            </div>
            <div class="pictos-details-align">
              <%= image_tag ("surface.png") %>
              <p><%=project.surface%> m2</p>
            </div>
            <div class="pictos-details-align">
              <%= image_tag ("bedroom.png") %>
              <p><%=project.nr_of_bedrooms%></p>
            </div>
            <div class="pictos-details-align">
              <%= image_tag ("bathroom.png") %>
              <p><%=project.nr_of_bathrooms%></p>
            </div>
          </div>
        </div>
      </div>

