<div class="banner-new">
</div>
<div class="container-form">
  <div class="form-style">
    <h3 id="sign-upp">Estimate your asset</h3>
      <%= simple_form_for(@project) do |f| %>
        <div class="form-card">
          <div class="form-inputs">
            <%= f.input :zipcode, as: :string %>
            <%= f.input :surface %>
            <%= f.input :nr_of_bedrooms %>
            <%= f.input :nr_of_bathrooms %>
            <%= f.input :category, collection: ["apartment", "house"] %>
            <% if current_user %>
              <%= f.input :name %>
              <%= f.input :street_and_nr %>
              <%= f.input :state, collection: Project::STATE %>
              <%= f.input :garage %>
              <%= f.input :heating%>
              <%= f.input :electricity %>
              <%= f.input :kitchen %>
              <%= f.input :sanitation %>
            <% end  %>
          </div>
          <%= f.submit :submit, class: "btn-green" %>

        <% end  %>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Your estimate</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="category-card">
          <div class="card-search">
            <h5>Details of your search</h5>
            <p><strong>Type of asset:</strong> <%#= session[:category]%></p>
            <p><strong>Address:</strong> <%#= session[:zipcode]%></p>
            <p><strong>Surface:</strong> <%#= session[:surface]%> sqm</p>
            <p><strong>Nr. of bedrooms:</strong> <%#= session[:nr_of_bedrooms] %></p>
            <p><strong>Nr. of bathrooms:</strong> <%#= session[:nr_of_bathrooms]%></p>
          </div>
          <br>
          <div class="container-estimate-text">
            <p style="color:#095228"><strong>Your estimate:</strong></p>
          </div>

          <div class="result-estimate">
            <h4><%= @simple_estimate %>€</h4>
          </div>

          <%# if session[:surface]  %>
            <div class="result-estimate">
              <h4><%#= @simple_estimate*session[:surface].to_i %>€</h4>
            </div>
          <%# end %>

          <div class="container-estimate-text">
            <br>
            <p style="color:#095228" ><strong>Want a more detailed estimate?</strong></p>
            <p>Please <strong><%#= link_to "create an account",  new_user_registration_path %></strong> or <strong><%#= link_to "log in", new_user_session_path %></strong> to proceed to the detailed estimate and enjoy multiple additionnal features.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn-green">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
