<div class="banner-new">
</div>
<div class="container-form">
  <div class="form-style">
    <h3 id="sign-upp">Estimate your asset</h3>
      <%= simple_form_for(@project) do |f| %>
        <div class="form-card">
          <div class="form-inputs">
            <%= f.input :zipcode %>
            <%= f.input :surface %>
            <%= f.input :nr_of_bedrooms %>
            <%= f.input :nr_of_bathrooms %>
            <%= f.input :category %>
            <% if current_user %>
              <%= f.input :name %>
              <%= f.input :street_and_nr %>
              <%= f.input :state %>
              <%= f.input :garage %>
              <%= f.input :heating%>
              <%= f.input :electricity %>
              <%= f.input :kitchen %>
              <%= f.input :sanitation %>
            <% end  %>
          </div>
          <%= f.submit :submit, class: "btn-green" %>
        <% end  %>
      </div>
    </div>
  </div>
</div>

