<br>
<br>
<br>
<div><h1>Project</h1></div>
<div class="content">
   <div class= "content-center">
   <div class="container-estimate-text">
            <p style="color:#095228"><strong>Your estimate:</strong></p>
          </div>
     <!--  <div class="header"> -->
         <div class="result-estimate">
            <h4><%= @detailed_estimate %>€</h4>
          </div>
        <!-- <h3 class="title title-center" id="estimate">Your estimate</h3> -->
      <!-- </div> -->
      </div>
      <div class="body">
        <div class="category-card">
          <div class="card-search_search">
            <h5>Details of your search</h5>
            <p><strong>Type of asset:</strong><%= @project.category %></p>
            <p><strong>Address:</strong> <%= @project.zipcode%></p>
            <p><strong>Surface:</strong> <%= @project.surface%> sqm</p>
            <p><strong>Nr. of bedrooms:</strong> <%= @project.nr_of_bedrooms %></p>
            <p><strong>Nr. of bathrooms:</strong> <%= @project.nr_of_bathrooms%></p>
            <p><strong>state of asset:</strong> <%= @project.state%></p>
            <p><strong>garage:</strong> <%= @project.garage%></p>
            <h4>Asset Value</h4>
            <p><strong><%= @simple_estimate %> € </strong></p>
            <h4>Asset Registration Fees </h4>
            <p><strong><%= (@simple_estimate * 0.15).to_i  %>€</strong></p>
             <h4>Total price with registration fee</h4>
              <p><strong><%= ((@simple_estimate * 0.15) + @simple_estimate).to_i %> € </strong></p>
            <h4>Renovation to be done</h4>
            <p><strong><%= "Heating Coast: #{@renovation_details.heating_price} €" if @project.heating %></strong> </p>
            <p><strong><%= "Kitchen Coast: 7000€" if @project.kitchen %></strong></p>
            <p><strong><%= "Sanitation Coast: #{@renovation_details.sanitation_price} " if @project.sanitation %> € </strong> </p>
            <p><strong><%= "Electricity Coast: #{@renovation_details.electricity_price} " if @project.electricity %> €</strong> </p>
            <h4>Total Renovation Coast</h4>
            <p> <strong><%= @renovation_details.total_price  %> € </strong></p>
            <%  @project.pictures.each do |pic| %>
              <% puts "bla3" %>
              <%= cl_image_tag pic.photo, height: 300, width: 400, crop: :fill %>
            <% end %>
          </div>
              <%= link_to 'Download your estimate on PDF format', project_path(@project, format: :pdf) %>
          <br>

          <%# if session[:surface]  %>
          <%# end %>

          <div class="container-estimate-text">
            <br>
            <p style="color:#095228" ><strong>Want a more detailed estimate?</strong></p>
            <p>Please <strong><%#= link_to "create an account",  new_user_registration_path %></strong> or <strong><%#= link_to "log in", new_user_session_path %></strong> to proceed to the detailed estimate and enjoy multiple additionnal features.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="map"
  style="width: 40%;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>





