
<div class="simple-estimate-container">
  <div class="banner-new">
    <!-- <div></div> -->
    <div class="container-simple-estimate">
      <div class="container-simple-result">
        <div class="container-estimate-text">
          <h6><strong>YOUR ESTIMATE:</strong></h6>
        </div>
        <div class="result-estimate" id="result-estimate-simple">
          <h4><%= @simple_estimate %>€</h4>
        </div>
        <div class="wrapper-simple-result">
          <div class="card-search_search">

            <div class="project-details">
              <div class="pictos-details">
                <div class="pictos-details-align">
                  <%= image_tag ("address.png") %>
                  <p><%= session[:zipcode]%></p>
                </div>
                <div class="pictos-details-align">
                  <%= image_tag ("category.png") %>
                  <p><%= session[:category]%></p>
                </div>
                <div class="pictos-details-align">
                  <%= image_tag ("surface.png") %>
                  <p><%= session[:surface]%> m2</p>
                </div>
                <div class="pictos-details-align">
                  <%= image_tag ("bedroom.png") %>
                  <p><%= session[:nr_of_bedrooms] %></p>
                </div>
                <div class="pictos-details-align">
                  <%= image_tag ("bathroom.png") %>
                  <p><%= session[:nr_of_bathrooms]%></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-estimate-text">
          <p style="color:#60bd63" ><strong>Want a more detailed estimate?</strong></p>
          <p>Please <strong><%= link_to "create an account",  new_user_registration_path %></strong> or <strong><%= link_to "log in", new_user_session_path %></strong> to proceed to the detailed estimate and enjoy multiple additionnal features.</p>
        </div>
      </div>
    </div>
  </div>
</div>
