<div class='container-offer-performance'>
  <div class="container">
    <h3 id="sign-upp">Estimate your asset</h3>

    <%= simple_form_for(@offering) do |f| %>
      <div class="form-card">
        <div class="form-inputs">
          <%= f.input :address %>
          <%= f.input :surface
          <%= f.input :nr_of_bedrooms %>
          <%= f.input :description %>
          <%= f.input :picture %>
          <%= f.input :picture_cache, as: :hidden %>
        </div>

        <div class="form-actions">
           <%= f.submit "add an offering", class: "btn-red" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

